.box {
    width: 300px;
    height: 300px;
    border: 3px solid red;
    /* overflow-y: scroll; */
    overflow-y: auto;
}

/* #box-1 {
    overflow: scroll;
    overflow-x: hidden;
} */

.ellipsis {
    width: 300px;
    border: 1px solid black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  /* clip */
}