:root{
    --primary-color: tomato;
    --secondary-color: red;
    --font-size: 20px;
}

h1 {
    color: var(--primary-color);
}

h5 {
    background-color: var(--primary-color);
}

.box {
    border: 2px solid var(--secondary-color);
    padding: 10px;
    width: calc(100% - 100px);
    margin: 0 auto;
}

.box h3 {
    font-size: var(--font-size);
}

.box p {
    color: steelblue;
}

.sidebar {
    background-color: lightgray;
}

.content {
    background-color: lightskyblue;
}

.container {
    margin-top: 50px;
    display: grid;
    gap: 20px;
    grid-template-rows: 300px;
    grid-template-columns: 200px calc(100% - 200px);
}