ul.inside {
    list-style-type: circle;
}

a {
    color: green;
    text-decoration: none;
}

ul.outer {
    list-style-type: square;
}



/* table */
table {
    border: 2px dashed red;
    border-collapse: collapse;
    margin: 0 auto;
}
td, th {
    border: 1px solid black;
    padding: 2px 12px;
}

.title {
    text-align: center;
    background-color: gainsboro;
}

