@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: "Poppins", sans-serif; */

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    max-width: 1440px;
    margin: 0 auto;
}

/* shared style */
.primary-color {
    color: rgb(58, 58, 58);
}

.btn-bg {
    background-color: rgb(224, 44, 109);
}

.gray {
    color: rgb(120, 120, 133);
}

.orange {
    color: rgb(251, 130, 0);
}


/* header part */

.navbar {
    max-width: 1163px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar .menu {
    display: none;
}

.navbar > h3 {
    font-size: 24px;
    font-weight: 700;
} 

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 34px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 34px;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: rgb(58, 58, 58);
    font-size: 16px;
    font-weight: 600;
}

.header-container {
    width: 100%;
    max-width: 1163px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    width: 582px;
    height: 270px;
    /* border: 2px solid red; */
}

.header-content > h1 {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 16px;
}

.header-content > p {
    font-size: 16px;
    font-weight: 600;
    max-width: 505px;
    margin-bottom: 16px;
}

.header-content .fa-solid {
    margin-left: 5px;
}

.header-content button {
    font-size: 16px;
    font-weight: 700;
    color: white;
    font-family: "Poppins", sans-serif;
    /* line-height: 24px; */
    padding: 10px 24px;
    border: none;
    border-radius: 41px;
}

.header-image {
    height: 475px;
    width: 475px;
    margin-top: 105px;
    background-image: url(images/circle-design.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 2px solid green; */
}

.header-image img {
    width: 440px;
    height: 414px;
}


/* main part */

/* company design */

.companies {
    /* margin: 0 auto; */
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.company-images .first-half,
.company-images .last-half {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.company-images {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.hr-line {
    width: 1110px;
    height: 2px;
    background: linear-gradient(135.00deg, rgba(192, 204, 218, 0.1) 0%,rgba(192, 204, 218, 0.6) 50.378%,rgba(192, 204, 218, 0.1) 100%);
}

/* popular collection section */

.collection {
    width: 1047px;
    /* height: 1662px; */
    margin: 0 auto;    
    /* border: 2px dashed red; */
}

.collection > h2 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-top: 100px;
    /* margin-bottom: 50px; */
}

.items-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.item {
    width: 329px;
    height: 476px;
    /* border: 2px solid green; */
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: white;
}

.item-div {
    margin: 16px 15px 16px 14px;
}

.item-div > h3 {
    font-size: 28px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 6px;
}

.item-div > h2 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 10px;
}

.item-div > img {
    width: 300px;
    margin-top: 16px;
}

.item-div > p {
    font-size: 14px;
    font-weight: 700;
}

.rating-text {
    font-size: 14px;
    font-weight: 700;
}

.see-more {
    color: rgba(224, 44, 109, 0.87);
    font-size: 16px;
    font-weight: 700;
    text-align: right;
    margin-top: 50px;
    padding-right: 5px;
}

.see-more a {
    text-decoration: none;
    color: rgba(224, 44, 109, 0.87);
}


/* motto section */

.motto {
    width: 1110px;
    margin: 0 auto;
    margin-top: 70px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.motto-content {
    width: 610px;
}

.motto-content > h2 {
    font-size: 38px;
    font-weight: 700;
    text-align: left;

    margin-bottom: 0;
    margin-top: 20px;
}

.motto-content > p {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    width: 500px;
}

.motto-content button {
    font-size: 16px;
    font-weight: 700;
    color: white;
    font-family: "Poppins", sans-serif;
    padding: 10px 24px;
    border: none;
}

.motto-content .fa-solid {
    margin-left: 5px;
}

/* footer styles */

footer {
    margin-top: 70px;
    padding-top: 50px;
    height: 240px;
    color: white;
    background-color: rgb(10, 8, 38);
}

.footer-content {
    width: 280px;
    height: 139px;
    margin: 0 auto;
    text-align: center;
}

.footer-content h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0px;
}

.footer-content p {
    font-size: 14px;
    font-weight: 500;
}

.footer-content .logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer-content .logos .fa-brands {
    background-color: #23213C;
    /* border: 2px solid red; */
    padding: 10px;
    border-radius: 50%;
}

/* responsive layout design */
@media screen and (max-width: 576px) {
    .navbar .menu {
        display: inline;
    }

    .navbar .nav-links {
        display: none;
    }

    .navbar {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: -80px;
        /* margin-bottom: -80px; newly added */
    }

    .header-container {
        flex-direction: column-reverse;
    }

    .header-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 50px;
        height: 144px;
        width: 85%;
        text-align: center;
    }

    .header-content > h1 {
        font-size: 28px;
        margin-bottom: 0px;
    }

    .header-content > p {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .header-image {
        height: 257px;
        width: 257px;
    }

    .header-image img {
        width: 202px;
        height: 190px;
        margin-top: 50px;
        margin-left: 25px;
    }


    /* companies in mobile screen */
    .hr-line {
        display: none;
    }

    .company-images {
        width: 290px;
        height: 62px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .company-images .first-half {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    .company-images .last-half {
        width: 85%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .company-images .first-half img,
    .company-images .last-half img {
        width: 100%;
    }
    
    /* .collection {
        margin-top: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */

    .collection {
        margin-top: -80px;
        max-width: 329px;
    }

    .items-container {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    
    .see-more {
        margin-top: 32px;
    }

    .motto {
        max-width: 330px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .motto img {
        max-width: 299px;
    }

    .motto-content {
        max-width: 95%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .motto-content > h2 {
        font-size: 24px;
        max-width: 311px;
        text-align: center;
    }

    .motto-content > p {
        font-size: 16px;
        max-width: 329px;
        text-align: center;
    }

    .motto-content button {
        margin-top: 20px;
    }

}