.container {
    border: 3px solid green;
    display: flex;
    /* justify-content: space-evenly;
    align-items: center; */
    flex-direction: row-reverse;
    height: 200px;

    flex-wrap: wrap;
    /* wrap is used for breaking lines  */
}

.box {
    border: 3px dashed red;
    width: 100px;
    height: 50px;

    font-size: 30px;
    text-align: center;
    padding: 10px;
}