/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');
/* font-family: 'Miama', sans-serif; */

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}



/* shared style */
/* ----------------------------------- */
/* ----------------------------------- */

.orange {
    color: rgb(230, 83, 60);
}

.orange-bg {
    background-color: rgb(230, 83, 60);
}


/* header section */
/* ----------------------------------- */
/* ----------------------------------- */
/* ----------------------------------- */

header {
    width: 100%;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%), linear-gradient(0.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

/* navbar style */

.navbar {
    padding-top: 57px;
    max-width: 1060px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar > h1 {
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
}

.navbar .menu {
    display: none;
}

.nav-menu {
    max-width: 465px;
    height: 46px;
    font-size: 18px;
    font-weight: 400;

    padding: 5px; 
    /* padding is outta design */
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 47px;
}

.nav-menu .home {
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 46px;
}

.nav-link {
    text-decoration: none;
    color: white;
}


/* header part */
/* header part */
/* header part */
/* header part */

.header-container {
    max-width: 1040px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    width: 520px;
    margin-bottom: 76px;
}

.header-content > h1 {
    color: white;
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 0;
}

.header-content .shape {
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 150px;
}

.header-content > p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 28px;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.btn-join {
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 16px 40px;
    border-style: none;
    border-radius: 42px;
}

.btn-download {
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: rgb(17, 17, 17);
    padding: 16px 40px;
    border-radius: 42px;
    border: 1px solid rgb(255, 255, 255);
}

.header-image img {
    width: 100%;
}

.fa-caret-right {
    color: white;
    position: absolute;
    transform: translate(14px, 19px);
}

.box-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.tutorial-content > h3 {
    font-size: 24px;
    font-weight: 900;
    color: white;
    text-align: left;
    margin-top: 5px;
    margin-bottom: -10px;
}

.tutorial-content > p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
    text-align: left;
}

.box-tutorial {
    height: 96px;
    width: 206px;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background-color: rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transform: translateX(-115px) translateY(-160px);

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    margin-bottom: -200px;
    position: relative;
}

.box-workout > h3 {
    font-size: 40px;
    font-weight: 900;
    text-align: left;
    color: white;
    margin-top: 5px;
    margin-bottom: -10px;
}

.box-workout > p {
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.65);
}

.box-workout {
    height: 98px;
    width: 193px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    transform: translateX(230px) translateY(-360px);
    padding-left: 24px;
}



/* main body part starts here */
/* ----------------------------------- */
/* main body part starts here */
/* ----------------------------------- */
/* main body part starts here */
/* ----------------------------------- */

main {
    width: 100%;
    background: rgb(0, 0, 0);
    padding-top: 30px;
    padding-bottom: 78px;
}

/* habit section */
/* habit section */

.habit {
    max-width: 1060px;
    margin: 0 auto;
    border: 0;
    /* border: 1px solid red; */
}

.habit-content {
    /* padding-top: 30px; */
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 58px;
}

.habit-content > h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
    color: white; 
}

.habit-content > p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

.habit-class {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.habit-cart {
    width: 230px;
    height: 275px;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habit-cart-img {
    border-radius: 50%;
    border: 5px solid rgb(53, 53, 53);
}

.habit-cart-title {
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 6px;
    color: white; 
}

.habit-cart-desc {
    font-size: 14px;
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
}


/* run (an extra mile) section */
/* run (an extra mile) section */

.run {
    max-width: 1060px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 80px;
    border-radius: 18px;
    background: rgb(34, 34, 34);

    padding: 30px 30px 30px 52px;
}

.run-content {
    max-width: 400px;
    height: 290px;
    text-align: left;
}

.run-content > h1 {
    font-size: 48px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 14px;
    color: white;
}

.run-content > p {
    font-size: 14px;
    margin: 0px;
    color: rgba(255, 255, 255, 0.5);
}

.run .btn-join {
    width: 225px;
    margin-top: 34px;
}

.run > img {
    border-radius: 18px;
    width: 366px;
    height: 312px;
    object-fit: cover;
    object-position: 100;
}

/* trainings section */
/* trainings section */

.training {
    max-width: 1060px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.training-content {
    max-width: 670px;
    margin-bottom: 40px;
    color: white;
}

.training-content > h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
}

.training-content > p {
    max-width: 620px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255, 0.5);
}

.training-banner-part1, .training-banner-part2 {
    height: 180px;
    display: flex;
    flex-direction: row;

}

.training-pic1,  
.training-pic2,
.training-pic3,
.training-pic4,
.training-pic5,
.training-pic6 {
    /* border: 2px solid green; */
    position: relative;
    font-size: 14px;
    font-weight: 500;
}

.training-pic1 > img,  
.training-pic2 > img,
.training-pic3 > img,
.training-pic4 > img,
.training-pic5 > img,
.training-pic6 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.training-pic1 {
    width: 320px;
}

.training-pic1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 255, 210, 0.5);
}

.training-pic1 > p {
    position: absolute;
    bottom: 10px;
    left: 30px;
}

.training-pic2 {
    width: 540px;
}

.training-pic2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.3);
}

.training-pic2 > p {
    position: absolute;
    left: 30px;
    top: 10px;
    color: white;
}

.training-pic3 {
    width: 390px;
}

.training-pic3::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.training-pic3 > p {
    position: absolute;
    bottom: 10px;
    left: 30px;
    color: white;
}

.training-pic4 {
    width: 435px;
}

.training-pic4::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.training-pic4 > p {
    position: absolute;
    right: 30px;
    top: 10px;
    color: white;
}

.training-pic5 {
    width: 408px;
}

.training-pic5::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 255, 0, 0.3);
}

.training-pic5 > p {
    position: absolute;
    bottom: 10px;
    left: 30px;
    color: white;
}

.training-pic6 {
    width: 470px;
}

.training-pic6::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 71, 255, 0.3);
}

.training-pic6 > p {
    position: absolute;
    bottom: 10px;
    left: 30px;
    color: white;
}

/* bmi section */
/* bmi section */

.bmi-content {
    max-width: 671px;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 46px;
}

.bmi-content > h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
    color: white;
}

.bmi-content > p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

.bmi-chart-calculator {
    width: 100%;
    background-color: rgb(34, 34, 34);
}

.bmi-divs {
    max-width: 1060px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-start;
    gap: 44px;

    padding-top: 50px;
    padding-bottom: 50px;
}

.bmi-chart {
    max-width: 440px;
    text-align: left; 
}

.bmi-chart > h3 {
    font-size: 28px;
    font-weight: 900;
    color: white;
    margin-top: 0;
}

.bmi-table {
    width: 310px;
    height: 216px;
}

.bmi-table, 
.bmi-table th,
.bmi-table td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding-left: 18px;
}

.bmi-table th {
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.bmi-table tr {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

.bmi-calculator {
    max-width: 576px;
    text-align: left;
}

.bmi-calculator > h3 {
    font-size: 28px;
    font-weight: 900;
    color: white;
    margin-top: 0;
    margin-bottom: 14px;
}

.bmi-calculator > p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 34px;
}

.bmi-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}

.bmi-inputbox {
    position: relative;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    height: 48px;
    margin-right: 40px;
    line-height: 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.bmi-inputs .activity {
    max-width: 100%;
    grid-column: span 2;
}

.bmi-inputbox input {
    position: absolute;
    font-size: 18px;
    padding: 0 20px;
    color: rgba(255, 255, 255, 0.5);
    width: 100%;
    outline: none;
    line-height: 48px;
    border-radius: 8px;
    border: 0px;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1111;
}

.labelline {
    position: absolute;
    font-size: 16px;
    margin: 0 20px;
    background-color: rgb(34, 34, 34);
    transition: 0.2s ease;
}

.arrow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* optional */ /* optional */ 
/* optional */ /* optional */ 

.bmi-inputbox input:focus,
.bmi-inputbox input:valid {
    color:rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.bmi-inputbox input:focus:valid + .labelline,
.bmi-inputbox input:valid + .labelline {
    color: white;
    height: 20px;
    line-height: 20px;
    padding: 3px 25px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    transform: translate(0px, -25px) scale(0.88);
    z-index: 1111;

    max-width: fit-content;
    /* added newly */
}


.bmi-inputbox input:focus:valid + .labelline .fa-angle-down,
.bmi-inputbox input:valid + .labelline .fa-angle-down {
    display: none;
}

/* optional */ /* optional */ 
/* optional */ /* optional */ 

.btn-calculate {
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 16px 60px;
    margin-top: 34px;
    border-style: none;
    border-radius: 42px;
}

/* team section */
/* team section */

.team {
    max-width: 1060px;
    margin: 0 auto;
}

.team-content {
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 58px;
}

.team-content > h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
    color: white;
}

.team-content > p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

.team-members {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;

    background: rgb(34, 34, 34);
    border-radius: 18px;
}

.team-trainer {
    position: relative;
    width: 326px;
    height: 272px;
}

.trainer-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}

.team-trainer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 18px;
}

.team-trainer > h3 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;

    position: absolute;
    bottom: 12px;
    left: 20px;
}

.team-trainer > p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;

    position: absolute;
    bottom: 0px;
    left: 20px;
}


/* subscription part */
/* subscription part */

.subscription {
    padding-top: 20px;
    max-width: 1060px;
    margin: 0 auto;

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.subs-content {
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
}

.subs-content > h1 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
    color: white;
}

.subs-content > p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

.plans {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.price-plan {
    text-align: center;
    border: 3px solid green;
    width: 255px;
    color: white;
    padding: 120px 30px 140px 30px;
    border: none;
    border-radius: 24px;
    box-shadow: 2px 2px 46px -4px rgba(0, 0, 0, 0.7);
    position: relative;
}

.quarterly-plan {
    background: linear-gradient(to left, #91eae4, #86a8e7, #7f7fd5);
}

.yearly-plan {
    background: #ff416c;
    background: linear-gradient(to right, #ff4b2b, #ff416c);
    padding-bottom: 220px;
}

.half-yearly-plan {
    background: #00b09b;
    background: linear-gradient(to right, #96c93d, #00b09b);
}

.price-plan::before {
    content: "$150";
    position: absolute;
    color: rgba(255, 255, 255, 0.2);
    font-size: 120px;
    font-weight: 900;
    bottom: -15px;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.quarterly-plan::before {
    content: "$90";
    left: 35px;
}

.yearly-plan::before {
    content: "$270";
    bottom: 180px;
}

.half-yearly-plan::before {
    content: "$150";
}

.price {
    text-align: center;
    position: relative;
}

.dollar-sign {
    font-size: 30px;
    font-weight: 800;
    position: absolute;
    transform: translate(-110px, 20px);
}

.quarterly-plan .dollar-sign {
    transform: translate(-80px, 20px);
}

.half-yearly-plan .dollar-sign {
    transform: translate(-100px, 20px);
}

.how-much {
    font-size: 80px;
    font-weight: 900;
    margin: 0;
}

.plan-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.plan-title > h3 {
    font-size: 25px;
    margin: 0px;
}

.side-line {
    width: 20%;
    height: 1px;
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
}

.feature {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: -15px;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.1);
}

.plan-img {
    position: absolute;
    width: 50%;
    transform: translate(24px, -365px);
}

.special-discount {
    position: absolute;
    width: 50%;
    transform: translate(-75px, 50px);
}

/* footer part */
/* ----------------------------------- */
/* footer part */
/* ----------------------------------- */
/* footer part */
/* ----------------------------------- */


footer {
    width: 100%;
    background-color: rgb(35, 35, 35);
}

.footer-details {
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0px 50px 0px;
}

.footer-content {
    max-width: 443px;
}

.footer-content > h1 {
    color: rgb(230, 83, 60);
    font-style: italic;
    font-size: 70px;
    font-weight: 800;
    margin: 0px 0px 20px 0px;
}

.footer-content > p {
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
}

.footer-navigation {
    max-width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 152px;
}

.footer-service {
    max-width: 182px;
}

.footer-service > h3 {
    font-size: 32px;
    font-weight: 700;
    margin: 0px 0px 39px 0px;
    color: white;
}

.footer-links {
    font-size: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    gap: 20px;
}

.footer-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.footer-caution {
    max-width: 1060px;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    padding: 15px 0px 30px 0px;
}

.footer-caution > p {
    font-size: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

/* MOBILE SCREEN */
/* ----------------------------------- */
/* MOBILE SCREEN */
/* ----------------------------------- */
/* MOBILE SCREEN */
/* ----------------------------------- */



@media screen and (max-width: 576px) {
    .header {
        height: 1136px;
        /* newly added */
    }

    .navbar {
        max-width: 353px;
    }

    .nav-menu {
        display: none;
    }

    .navbar .menu {
        display: inline;
        color: white;
        padding-right: 5px;
    }

    .header-container {
        max-width: 352px;
        margin: 0 auto;

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;

        padding-bottom: 46px;
        
    }

    .header-content {
        max-width: 352px;
        margin-bottom: 64px;
    }

    .header-content > h1 {
        font-size: 36px;
        max-width: 285px;
    }

    .header-content > p {
        max-width: 276px;
    }

    .header-content .shape {
        font-size: 76px;
    }

    .header-content .club {
        display: none;
    }

    .header-content .btn-join {
        max-width: 169px;
    }

    .header-content .btn-download {
        max-width: 169px;
        padding: 16px 20px 16px 20px;
    }

    /* tutorial */

    .box-circle {
        width: 30px;
        height: 30px;
    }

    .fa-caret-right {
        transform: translate(8px, 15px);
    }

    .tutorial-content > h3 {
        font-size: 18.14px;
    }

    .tutorial-content > p {
        font-size: 12.1px;
    }

    .box-tutorial {
        height: 72.58px;
        width: 155.74px;
        border-radius: 9.07px;
        backdrop-filter: blur(15.12px);
        border: 0.76px solid rgba(255, 255, 255, 0.1);
        transform: translateX(15px) translateY(-320px);
    }


    /* workout */
    
    .box-workout > h3 {
        font-size: 30.24px;
        margin-top: 10px;
    }

    .box-workout > p {
        font-size: 9.83px;
    }

    .box-workout {
        height: 74.09px;
        width: 145.91px;
        border: 0.76px solid rgba(255, 255, 255, 0.1);
        border-radius: 9.07px;
        backdrop-filter: blur(15.12px);
        transform: translateX(190px) translateY(-410px);
    }


    /* styles of main section */
    /* styles of main section */


    /* change your habits */

    .habit {
        padding-top: 30px;
        /* newly added */
        max-width: 340px;
    }

    .habit-content {
        max-width: 318px;
    }

    .habit-content > h1 {
        font-size: 32px;
    }

    .habit-class {
        flex-direction: column;
        gap: 36px;
    }

    /* run an extra mile easily */

    .run {
        max-width: 353px;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        padding: 30px 0; 
    }

    .run-content {
        max-width: 287px;
    }

    .run-content > h1 {
        padding-right: 20px;
        font-size: 32px;
    }

    .run .btn-join {
        width: 287px;
    }

    .run > img {
        margin-top: -30px;
        width: 287px;
        height: 170px;
    }

    /* trainings and exercises */

    .training {
        /* margin-top: 100px; */
        max-width: 352px;
    }

    .training-content > h1 {
        font-size: 32px;
    }

    .training-pic3,
    .training-pic6,
    .exc-desc {
        display: none;
    }

    .training-banner-part2 {
        margin-top: -30px;
    }

    .training-pic1 {
        color: white;
    }

    .training-pic1,
    .training-pic2 {
        width: 50%;
        height: 150px;
    }

    .training-pic4 {
        width: 45%;
        height: 150px;
    }

    .training-pic4 > p {
        top: 95px;
        left: 30px;
    }

    .training-pic5 {
        width: 55%;
        height: 150px;
    }

    /* calculate bmi */

    .bmi-content,
    .bmi-divs {
        max-width: 353px;
        margin: 0 auto;
    }

    .bmi-content > h1 {
        font-size: 32px;
    }

    .bmi-divs {
        flex-direction: column;
        gap: 40px;
        padding-bottom: 54px;
    }

    .bmi-chart > h3,
    .bmi-calculator > h3 {
        font-size: 20px;
        padding-bottom: 20px;
        /* added customized code  */
    }


    .subscription {
        max-width: 355px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .subs-content {
        max-width: 350px;
    }

    .subs-content > h1 {
        font-size: 35px;
    }

    .subs-content > p {
        text-align: justify;
    }

    .plans {
        flex-direction: column;
        gap: 30px;
    }

    /* meet our team */

    .team {
        max-width: 353px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .team-content {
        max-width: 309px;
        margin-bottom: 37px;
        margin-top: 30px;
    }

    .team-content > h1 {
        font-size: 32px;
    }

    .md-remove {
        display: none;
    }

    .team-members {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .team-trainer {
        width: 313px;
        height: 272px;
    }


    /* footer part */

    .footer-details,
    .footer-caution {
        max-width: 353px;
    }

    .footer-details,
    .footer-navigation {
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
    }

    .footer-navigation {
        justify-content: flex-start;
        align-items: start;
        gap: 40px;
    }

    /* optional for footer */
} 


/* TABLET SCREEN */
/* ----------------------------------- */
/* TABLET SCREEN */
/* ----------------------------------- */
/* TABLET SCREEN */
/* ----------------------------------- */


@media screen and (min-width: 576px) and (max-width: 992px) {
    .navbar {
        max-width: 684px;
        justify-content: space-between;
    }

    .header-container {
        max-width: 600px;        
        flex-direction: column;
    }

    .header-content {
        margin-left: 0px;
    }

    .nav-menu {
        max-width: 350px;
        font-size: 16px;
    }

    .nav-links {
        gap: 20px;
    }

    /* habit */

    .habit {
        max-width: 566px;
    }

    .habit-content {
        max-width: 476px;
    }

    .habit-class {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        margin-left: 20px;
    }

    /* run (an extra mile) easily */

    .run {
        max-width: 684px;
        padding: 40px 40px 40px 54px;
    }

    .run > img {
        width: 256px;
    }

    .run-content {
        max-width: 263px;
    }

    .run-content > h1 {
        font-size: 36px;
    }

    /* training */

    .training {
        max-width: 684px;
    }

    .training-pic1,
    .training-pic3,
    .training-pic5,
    .training-pic6 {
        width: 32%;
    }

    .training-pic2,
    .training-pic4 {
        width: 36%;
    }

    /* calculate bmi */

    .bmi-content,
    .bmi-divs {
        max-width: 684px;
        margin: 0 auto;
    }

    .bmi-divs {
        flex-direction: column;
        gap: 60px;
        padding-bottom: 54px;
    }

    /* team */
    .team {
        max-width: 677px;
    }

    .team-trainer {
        width: 199px;
        height: 272px;
    }

    /* subscription */

    .subscription {
        max-width: 677px;
    }

    .price-plan {
        max-width: 190px;
        padding: 65px 10px 90px 10px;
    }

    .yearly-plan {
        padding-bottom: 150px;
    }

    .how-much {
        font-size: 55px;
        font-weight: 900;
    }

    .dollar-sign {
        font-size: 20px;
        transform: translate(-75px, 15px);
    }
    
    .quarterly-plan .dollar-sign {
        transform: translate(-55px, 15px);
    }
    
    .half-yearly-plan .dollar-sign {
        transform: translate(-70px, 15px);
    }

    .price-plan::before {
        font-size: 80px;
    }

    .quarterly-plan::before {
        left: 20px;
    }
    
    .yearly-plan::before {
        bottom: 120px;
    }

    .feature {
        font-size: 16px;
    }

    .plan-img {
        position: absolute;
        width: 40%;
        transform: translate(-40px, -262px);
    }

    .special-discount {
        position: absolute;
        width: 50%;
        transform: translate(-50px, 30px);
    }

    /* footer part */

    .footer-details,
    .footer-caution {
        max-width: 682px;
    }

    .footer-details {
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        gap: 80px;
    }
}