/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');
/* font-family: 'Miama', sans-serif; */

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}



/* shared style */
/* ----------------------------------- */
/* ----------------------------------- */

.orange {
    color: rgb(230, 83, 60);
}

.orange-bg {
    background-color: rgb(230, 83, 60);
}






/* header section */
/* ----------------------------------- */
/* ----------------------------------- */

.header {
    max-width: 1440px;
    /* height: 715px; */
    margin: 0 auto;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%), linear-gradient(0.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);

    /* border: 2px dashed red; */
}

/* navbar style */

.navbar {
    padding-top: 57px;
    max-width: 1060px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar > h1 {
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
}

.navbar .menu {
    display: none;
}

.nav-menu {
    max-width: 465px;
    height: 46px;
    font-size: 18px;
    font-weight: 400;

    padding: 5px; 
    /* padding is outta design */
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 47px;
}

.nav-menu .home {
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 46px;
}

.nav-link {
    text-decoration: none;
    color: white;
}


/* header part */

.header-container {
    max-width: 1040px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    width: 520px;
    margin-bottom: 76px;
}

.header-content > h1 {
    color: white;
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 0;
}

.header-content .shape {
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 150px;
}

.header-content > p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 28px;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.header-content .btn-join {
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 16px 40px;
    border-style: none;
    border-radius: 42px;
}

.header-content .btn-download {
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: rgb(17, 17, 17);
    padding: 16px 40px;
    border-radius: 42px;
    border: 1px solid rgb(255, 255, 255);
}

.header-image img {
    width: 100%;
}

.box-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.tutorial-content > h3 {
    font-size: 24px;
    font-weight: 900;
    color: white;
    text-align: left;
    margin-top: 5px;
    margin-bottom: -10px;
}

.tutorial-content > p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(239, 237, 232, 0.65);
    text-align: left;
}

.box-tutorial {
    height: 96px;
    width: 206px;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background-color: rgba(48, 48, 48, 0.54);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transform: translateX(-115px) translateY(-160px);

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    margin-bottom: -200px;
}

.box-workout > h3 {
    font-size: 40px;
    font-weight: 900;
    text-align: left;
    color: white;
    margin-top: 5px;
    margin-bottom: -10px;
}

.box-workout > p {
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    color: rgba(255, 255, 255, 0.65);
}

.box-workout {
    height: 98px;
    width: 193px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    transform: translateX(230px) translateY(-360px);
    padding-left: 24px;
}







/* header section */
/* ----------------------------------- */
/* ----------------------------------- */
/* ----------------------------------- */

@media screen and (max-width: 576px) {
    .navbar {
        max-width: 353px;
    }

    .nav-menu {
        display: none;
    }

    .navbar .menu {
        display: inline;
        color: white;
    }

    .header-container {
        max-width: 352px;
        margin: 0 auto;

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }

    .header-content {
        max-width: 352px;
        margin-bottom: 64px;
    }

    .header-content > h1 {
        font-size: 36px;
        max-width: 285px;
    }

    .header-content > p {
        max-width: 276px;
    }

    .header-content .shape {
        font-size: 76px;
    }

    .header-content .club {
        display: none;
    }

    .header-content .btn-join {
        max-width: 169px;
    }

    .header-content .btn-download {
        max-width: 169px;
        padding: 16px 20px 16px 20px;
    }

    /* tutorial */

    .box-circle {
        width: 30px;
        height: 30px;
    }

    .tutorial-content > h3 {
        font-size: 18.14px;
    }

    .tutorial-content > p {
        font-size: 12.1px;
    }

    .box-tutorial {
        height: 72.58px;
        width: 155.74px;
        border-radius: 9.07px;
        backdrop-filter: blur(15.12px);
        border: 0.76px solid rgba(255, 255, 255, 0.1);
        transform: translateX(15px) translateY(-320px);
    }


    /* workout */
    
    .box-workout > h3 {
        font-size: 30.24px;
        margin-top: 10px;
    }

    .box-workout > p {
        font-size: 9.83px;
    }

    .box-workout {
        height: 74.09px;
        width: 145.91px;
        border: 0.76px solid rgba(255, 255, 255, 0.1);
        border-radius: 9.07px;
        backdrop-filter: blur(15.12px);
        transform: translateX(190px) translateY(-410px);
    }
} 


@media screen and (min-width: 576px) and (max-width: 992px) {
    .navbar {
        max-width: 684px;
    }

    .header-container {
        max-width: 600px;        
        flex-direction: column;   
        margin: 0 72px;
    }

    .header-content {
        margin-left: 0px;
    }

    .nav-menu {
        max-width: 350px;
        font-size: 16px;
    }

    .nav-links {
        gap: 20px;
    }
}


